<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="OFF"
               packages="com.customlogger">

    <Appenders>
        <RollingFile name="RollingFile" fileName="/tmp/app.log" filePattern="/tmp/app-%d{MM-dd-yyyy}.log.gz"
                     ignoreExceptions="false">
            <PatternLayout
                    pattern="Timestamp = %d{yyyy-MM-dd HH:mm:ss.SSS z} | RequestId = %reqLogid | UserId = %userId | TransactionId = %transactionId | ServerName = %serverName | Useragent = %useragent | UrlPath = %urlPath | ResponseCode= %responseCode | remoteIp = %remoteIpAddr | referrer = %referrer | Severity=%-5p | ComponentName=%c{1} | MethodName=%M | LineNumber=%L | Message=%m%xEx%n"/>
            <TimeBasedTriggeringPolicy/>
        </RollingFile>
        <Console name="STDOUT" target="SYSTEM_OUT" ignoreExceptions="false">
            <PatternLayout
                    pattern="Timestamp = %d{yyyy-MM-dd HH:mm:ss.SSS z} | RequestId = %reqLogid | UserId = %userId | TransactionId = %transactionId | ServerName = %serverName | Useragent = %useragent | UrlPath = %urlPath | ResponseCode= %responseCode | remoteIp = %remoteIpAddr | referrer = %referrer | Severity=%-5p | ComponentName=%c{1} | MethodName=%M | LineNumber=%L | Message=%m%xEx%n"/>
        </Console>
    </Appenders>

    <loggers>
        <Logger name="org.apache.log4j.xml" level="all"/>
        <root level="all">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="RollingFile"/>
        </root>
    </loggers>

</Configuration>